body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color : #0099ff;
  width : 100%;
  margin-bottom : 20px;
  padding-left: 20px;
}

.headerTitle
{
  display: block;
  text-align : left;
}

.headerButtons
{
  display : block;
  padding: 20px 0;
  background-color: red;
  text-align : left;
}

.headerButton
{
  display: inline;
  margin-right : 20px;
}

h1
{
  position : relative;
  color: #004675;
}
